// Body
$body-bg: #f8fafc;

// Typography

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//$font-family: 'Roboto', sans-serif;
//$font-family: 'Source Sans 3', sans-serif;
